# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS generated
Thumbs.db
.DS_Store

# Temporary outputs
tmp/
scratch/
